.riidit-btn {
    background: linear-gradient(90deg, $lightBlue, $darkBlue);
    border-radius: 5px;
    padding: auto 1em;
    border: none;
    color: white;
    font-weight: 300;
    text-align: center;
    transition: $transition;
    
        &:hover {
            transition: $transition;
            transform: scale(0.98);
        }
}

.riid-more {
    padding: 0.5em 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $darkBlue;
    border: 2px solid $darkBlue;
    border-radius: 5px;
    text-decoration: none !important;
    transition: $transition;

    &:hover {
        background-color: $darkBlue;
        color: white;
        transition: $transition;
    }
}

.v-line {
    display: block;
    width: 1px;
    height: 8px;
    background-color: #cccccc;
    margin: 0 8px;
}